header {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    
}

.logo {
    margin-right: auto;
}

.titleContainer {
    align-self: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

